{% extends 'base.html.twig' %}

{% block title %}CarCategory index{% endblock %}

{% block body %}
    <h1>CarCategory index</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>NameCategory</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car_category in car_categories %}
            <tr>
                <td>{{ car_category.id }}</td>
                <td>{{ car_category.nameCategory }}</td>
                <td>
                    <a href="{{ path('app_car_category_show', {'id': car_category.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('app_car_category_edit', {'id': car_category.id}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
      <div >
         
      </div>
      <div class="pagination">
          {{ knp_pagination_render(car_categories) }}
      </div>

    <a href="{{ path('app_car_category_new') }}">Create new</a>
{% endblock %}
